<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生课程作业列表</title>
    <link th:href="@{/static/lib/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <style>
        .layui-layout-body {
            overflow-y: auto;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-weight: bold;color: #FFFFFF;">网络作业管理系统 - 学生端</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item ">
                <a th:href="@{'/course/list/studentPage?studentId='+${session.userInfo.number}}">课程列表</a>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">留言管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{'/message/list/student'}">留言列表</a></dd>
                    <dd>
                        <a th:onclick="layer_show('添加留言','/message/add.html/student/[[${session.userInfo.id}]]','700','590');">添加留言</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <input type="hidden" id="studentId" th:value="${session.userInfo.number}">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/static/common/images/t1.jpg}" class="layui-nav-img">
                    <span th:if="session.userInfo!=null"><span th:text="${session.userInfo?.name}">未认证</span></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:onclick="layer_show('基本资料','/student/info?id=[[${session.userInfo.id}]]','800','560');">基本资料</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{'/logout'}">退出登录</a></li>
        </ul>
    </div>
    <div class="main-body">
        <!-- 内容主体区域 -->
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
							<span class="layui-breadcrumb" lay-separator="/">
								<a href="/index.html?role=student">首页</a>
								<a href="">课程列表</a>
								<a th:href="@{'/message/list/student'}"><cite>课程作业列表</cite></a>
							</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card" style="background-color: #FFFFFF;">
                        <div class="layui-card-header">
                            <h2 style="margin-left: 2px;">
                                <span>
                                    <i class="layui-icon layui-icon-read" style="font-size: 25px; color: #1E9FFF;"></i>
                                    <span style="margin-left: 5px;" th:text="${course.name}"></span>
                                </span>
                                <span style="float: right;margin-right: 10px" th:text="${course.number}"></span>
                            </h2>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-collapse" lay-filter="test">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">
                                        <i class="layui-icon layui-icon-face-smile"
                                           style="font-size: 18px; color: #1E9FFF;"></i>
                                        <span>待完成</span>
                                    </h2>
                                    <div th:each="taskDto:${unfinishedList}" class="layui-colla-content"
                                         style="background-color: #F2F2F2;">
                                        <div class="layui-panel">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    <span th:text="${taskDto.assignment.title}"
                                                          style="font-size: 16px;font-weight: bold;"></span>
                                                    <a th:href="@{'/assignment/student/info?studentNumber='+${session.userInfo.number}+'&id='+${taskDto.assignmentId}}">
                                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" style="float: right;margin-top: 6px;">开始答题
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="layui-card-body">
                                                    <p><span>描述：</span><span
                                                            th:text="${taskDto.assignment.description}"></span></p>
                                                    <p>
                                                        <span>创建时间：</span><span
                                                            th:text="${#dates.format(taskDto.assignment.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <span>限定时间：</span><span
                                                            th:text="${#dates.format(taskDto.assignment.limitingTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    </p>
                                                    <p><span>答题人数：</span><span
                                                            th:text="${taskDto.assignment.turnout}"></span><span> 人</span>
                                                    </p>
                                                    <p><span>文件：</span>
                                                        <span th:if="${not #strings.isEmpty(taskDto.assignment.file)}">
                                                            <a th:href="@{'/assignment/download/'+${taskDto.assignment.file}}">
                                                                <i class="layui-icon layui-icon-file"
                                                                   style="font-size: 18px; color: #1E9FFF;"></i>
                                                            </a>
                                                        </span>
                                                        <span th:if="${#strings.isEmpty(taskDto.assignment.file)}">空</span>
                                                    </p>
                                                    <p th:text="${taskDto.assignment.id}"></p>
                                                    <a th:href="@{'/answer/findInfoByTopicId/'+${taskDto.assignmentId}}"
                                                       class="layui-btn layui-btn-primary layui-border-green">答疑</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">
                                        <i class="layui-icon layui-icon-face-smile"
                                           style="font-size: 18px; color: #009688;"></i>
                                        已完成
                                    </h2>
                                    <div th:each="taskDto:${finishList}" class="layui-colla-content"
                                         style="background-color: #F2F2F2;">
                                        <div class="layui-panel">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    <span th:text="${taskDto.assignment.title}"
                                                          style="font-size: 16px;font-weight: bold;"></span>
                                                    <a th:href="@{'/assignment/student/info?studentNumber='+${session.userInfo.number}+'&id='+${taskDto.assignmentId}}">
                                                        <button type="button"
                                                                class="layui-btn layui-btn-sm layui-btn-normal"
                                                                style="float: right;margin-top: 6px;">查看作业
                                                        </button> <span>&nbsp;&nbsp;</span>
                                                    </a>

                                                    <a th:href="@{'/assignment/student/scores?studentNumber='+${session.userInfo.number}+'&id='+${taskDto.assignmentId}}">
                                                        <button type="button"
                                                                class="layui-btn layui-btn-sm layui-btn-normal"
                                                                style="float: right;margin-top: 6px;">查看成绩
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="layui-card-body">
                                                    <p><span>描述：</span><span
                                                            th:text="${taskDto.assignment.description}"></span></p>
                                                    <p>
                                                        <span>创建时间：</span><span
                                                            th:text="${#dates.format(taskDto.assignment.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                        <span>限定时间：</span><span
                                                            th:text="${#dates.format(taskDto.assignment.limitingTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    </p>
                                                    <p><span>答题人数：</span><span
                                                            th:text="${taskDto.assignment.turnout}"></span><span> 人</span>
                                                    </p>
                                                    <p><span>文件：</span>
                                                        <span th:if="${not #strings.isEmpty(taskDto.assignment.file)}">
                                                            <a th:href="@{'/assignment/download/'+${taskDto.assignment.file}}">
                                                                <i class="layui-icon layui-icon-file"
                                                                   style="font-size: 18px; color: #1E9FFF;"></i>
                                                            </a>
                                                        </span>
                                                        <span th:if="${#strings.isEmpty(taskDto.assignment.file)}">空</span>
                                                    </p>

                                                    <a th:href="@{'/answer/findInfoByTopicId/'+${taskDto.assignmentId}}"
                                                            class="layui-btn layui-btn-primary layui-border-green">答疑</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/lib/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/common/js/base.js}"></script>
<script type="text/javascript" th:src="@{/static/common/js/page.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer', 'flow'], function () {
        var $ = layui.jquery;
        var flow = layui.flow;
        var layer = layui.layer;
        var element = layui.element;


    });

</script>
</html>
